.button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: teal;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: opacity 0.5s;
  border: none;
  font-size: 14px;

  &:hover {
    opacity: 0.8;
    color: black;
  }
}
