.vegetable-list-first {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 20px;
  border: 2px solid darkblue;
  border-radius: 5px;
  padding: 10px;
  background-color: palegoldenrod;
}
